<nav class="navbar">
    <div class="container">
        <div class="navbar-home">
            <a href="{{ '/' | relative_url }}">Home</a>
        </div>
        <div class="navbar-nav">
            <ul class = "navbar-nav__items">
                {% for link in site.data.navigation %}
                <li class="navbar-nav__item">
                    <a href="{{ link.url | relative_url }}">{{ link.name }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>