.navbar {
    width: 100%;
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border-bottom: 1px solid;
}

.container{
    padding-right: 50px;
    padding-left: 50px;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar-home a {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
}

.navbar-nav__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.navbar-nav__item a {
    display: flex;
    align-items: center;
    height: 50px;
    font-size: 18px;
    margin: auto 25px;
}

a:hover {
    color: orange;
}